@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Raleway:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Dela Gothic One";
  src: url("./font_DelaGothicOne/DelaGothicOne-Regular.woff2") format("woff2"),
    url("./font_DelaGothicOne/DelaGothicOne-Regular.woff") format("woff"),
    url("./font_DelaGothicOne/DelaGothicOne-Regular.eot") format("eot"),
    url("./font_DelaGothicOne/DelaGothicOne-Regular.ttf") format("ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.header {
  background-color: lightgreen;
  height: 140px;
  width: 100%;
}

.catalogue-content {
  display: flex;
  width: 100%;
}



/*filters*/
.filters {
  flex: 1;
  min-width: 200px;
  font-size: 12px;
  padding-top: 41px;
  padding-left: 80px;
}

.filters-title {
  font-weight: 600;
  margin-top: 15px;
}

summary:after {
  content: url(images/Vector\ 12.png);
  padding-left: 10px;
}

details[open] summary:after {
  content: url(images/Vector\ 11.png);
  padding-left: 10px;
}

details>summary {
  list-style: none;
  cursor: pointer;
}

.filters-subitle {
  font-weight: 300;
  color: #565656;
}

.filters-title__item {
  padding-top: 10px;
}



/*products*/

.products {
  flex: 3.8;
  padding: 20px 5.5% 9% 20px;
}

.products-header {
  width: 100%;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
}
.filters-mini {
  background-color: white;
  max-width: 349px;
  position: absolute;
  font-size: 14px;
  display: none;
  top: 30px;
}

.filters-title__mini {
  font-size: 12px;
}

.filters-item__grid {
  display: grid;
  grid-template-columns: 140px 175px;
  box-shadow: 5px 5px 5px #878787;
}
.products-sorting {
  display: flex;
  align-items: center;
}
.products-sorting__form{
  padding-left: 185px;
}
.products-sorting__grid-icons {
  display: flex;
}

.product-grid__icon {
  width: 14px;
  height: 14px;
  display: grid;
  margin-right: 10px;
  cursor: pointer;
}

.product-grid__icon_small {
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.product-grid__icon_small div {
  background-color: rgba(86, 86, 86, 1);
}

.product-grid__icon_large {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
}

.product-grid__icon_large div {
  background-color: rgba(196, 196, 196, 1);
}

.products-sorting__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.products-sorting__label {
  margin-left: 3px;
}

.products-sorting__selector {
  border: none;
  background-color: inherit;
}

.products-title {
  margin: 0;
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 140.3%;
  text-transform: uppercase;
  color: #000000;
  justify-self: end;
  padding: 0 0 0 20px;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}

.product-list__image {
  width: 100%;
}

.product-list__card {
  padding-bottom: 50px;
}

.product-list__text {
  font-weight: 300;
  font-size: 14px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.product-list__description {
  margin-top: 10px;
  line-height: 23px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-list__price {
  font-size: 14px;
  font-weight: 700;
  padding-top: 5px;
}

.products-pagination {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.products-pagination__show-more {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.products-pagination__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 7px;
}

.products-pagination__pages {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding-left: 30px;
}

.products-pagination__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 166.2%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-right: 10px;
  text-decoration: none;
}

.products-pagination__pages a:hover {
  color: #b0b0b0;
}

.products-pagination__link_selected {
  color: #b0b0b0;
}

.products-pagination__link_next-page {
  margin-right: 0;
}

/*footer*/

.footer {
  height: 354px;
  background: url(../img/Rectangle86.png) no-repeat 100% 100%;
  background: #f4f4f4;
  padding: 70px 80px;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  font-family: "Raleway-Light";
}

.footer-container__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer-contacts__address {
  font-style: normal;
}

.footer-container,
.footer-container__nav {
  display: flex;
}

.footer-container__nav,
.footer-social,
.footer-contacts {
  flex-basis: auto;
}

.footer-contacts {
  margin-left: 315px;
}

.footer-social {
  margin-left: 178px;
}

.footer__logo {
  text-align: center;
  margin-bottom: 40px;
}

.footer-container__nav {
  gap: 50px;
}

.footer-social img {
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 65px;
}

.footer-social__text,
.footer-contacts__text {
  text-decoration: underline;
}

.footer-contacts__tel,
.footer-contacts__address,
.footer-contacts__time {
  margin-top: 10px;
  font-feature-settings: "pnum";
  font-feature-settings: "lnum";
}

.footer__copyright {
  font-feature-settings: "pnum";
  font-feature-settings: "lnum";
}

.footer-contacts__time span {
  margin-right: 20px;
}

.footer-container__item {
  margin-bottom: 10px;
}

.footer-container__item:last-child a {
  font-weight: 700;
  color: #da1f39;
  font-family: "Raleway-Bold";
}

.footer-container__item:last-child {
  margin-top: 40px;
}

.footer-contacts-mobile {
  display: none;
}

.footer__copyright-mobile {
  display: none;
}





@media (max-width: 850px) {
  .products-header {
    grid-template-columns: 1fr;
  }

  .products-sorting {
    order: 2;
    justify-content: space-between;
  }

  .products-sorting__grid-icons {
    display: none;
  }
  .products-title {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .products {
    padding: 10px 10px 50px 10px;
  }

  .products-header {
    padding-bottom: 20px;
  }

  .product-list__text {
    font-size: 12px;
  }

  .product-list__card {
    padding-bottom: 20px;
  }

  .products-pagination {
    padding-top: 30px;
  }

  .products-pagination__pages {
    display: none;
  }

  .products-pagination__show-more {
    justify-content: center;
  }
  .footer-container__nav,
  .footer-social,
  .footer-contacts {
    flex-basis: 30%;
  }

  .footer-contacts,
  .footer-social {
    margin-left: 50px;
  }

  .footer {
    padding: 50px 20px;
    height: auto;
  }

  .footer-container__nav {
    gap: 25px;
  }

  .footer span {
    display: block;
  }

  .footer__copyright-mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  .filters {
    display: none;
  }
  .filters-mini {
    display: inline;
  }
  .footer-contacts,
  .footer__copyright {
    display: none;
  }

  .footer-container__nav,
  .footer-social {
    flex-basis: auto;
  }

  .footer {
    padding: 20px 10px;
  }

  .footer-social {
    margin-left: 15px;
    width: 35%;
  }

  .footer-container__nav {
    gap: 30px;
  }

  .footer-social img {
    margin-right: 15px;
    margin-top: 7px;
    margin-bottom: 0px;
  }

  .footer-container__item:last-child {
    margin-top: 20px;
  }

  .footer-contacts-mobile {
    display: block;
    padding-top: 10px;
  }

  .footer-contacts-mobile span {
    display: inline;
  }

  .footer__copyright-mobile {
    font-feature-settings: "pnum";
    font-feature-settings: "lnum";
    margin-top: 20px;
  }
}
