@font-face {
  font-family: "Dela Gothic One";
  src: url("./fonts/DelaGothicOne-Regular.woff2") format("woff2"),
    url("./fonts/DelaGothicOne-Regular.woff") format("woff"),
    url("./fonts/DelaGothicOne-Regular.eot") format("eot"),
    url("./fonts/DelaGothicOne-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway-Light";
  src: url("./fonts/RalewayFont/Raleway-Light.woff") format("woff"),
    url("./fonts/RalewayFont/Raleway-Light.eot") format("OpenType"),
    url("./fonts/RalewayFont/Raleway-Light.ttf") format("TrueType");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./fonts/RalewayFont/Raleway-Bold.woff") format("woff"),
    url("./fonts/RalewayFont/Raleway-Bold.eot") format("OpenType"),
    url("./fonts/RalewayFont/Raleway-Bold.ttf") format("TrueType");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("./fonts/RalewayFont/Raleway-Regular.woff") format("woff"),
    url("./fonts/RalewayFont/Raleway-Regular.eot") format("OpenType"),
    url("./fonts/RalewayFont/Raleway-Regular.ttf") format("TrueType");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway-Regular", sans-serif;
  font-style: normal;
}

.catalogue-container {
  padding: 0 5.6%;
}

.header_button {
  display: none;
}

.header {
  display: flex;
  background-color: #ffffff;
  padding: 25px 0;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  width: 33.3%;
  display: flex;
  align-items: center;
}

.header_nav_catalogue {
  display: inline-block;
}

.nav_item_link {
  text-decoration: none;
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-right: 30px;
}

.nav_item_link:hover {
  color: #da1f39;
  font-weight: 700;
}

.header__logo {
  width: 33.3%;
  text-align: center;
}

.header__menu {
  width: 33.3%;
  margin-top: 5px;
}

.menu_list {
  display: flex;
  align-items: center;
  float: right;
}

.menu_item {
  display: inline-block;
}

.icon_arrow {
  position: relative;
}

.icon_arrow::after {
  content: "";
  display: block;
  background: url(images/arrow_header.png) center no-repeat;
  height: 6px;
  width: 10px;
  position: absolute;
  padding-left: 5px;
  right: -18px;
  top: 50%;
  margin-top: -3px;
}

.item_language {
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  cursor: pointer;
}

.item_currency {
  margin-left: 32px;
  font-size: 20px;
  cursor: pointer;
}

.item_number {
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  text-align: center;
  color: #000000;
  margin-left: 28px;
  text-decoration: none;
}

.item_search {
  margin-left: 20px;
  cursor: pointer;
}

.item_cart {
  margin-left: 15px;
  cursor: pointer;
}

.catalogue__dropdown {
  display: none;
}

.header_nav_catalogue:hover .catalogue__dropdown {
  display: flex;
  position: absolute;
  background-color: #ffffff;
  margin-top: 40px;
  width: 91vw;
  z-index: 3;
  box-shadow: 0 4px 4px -5px #000000;
}

.catalogue__navigation {
  width: 20%;
}

.catalogue_nav {
  list-style-type: none;
  padding: 0;
}

.catalogue_item {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #9a9a9a;
  cursor: pointer;
  margin-bottom: 25px;
}

.catalogue_item:hover {
  color: #000000;
}

.catalogue_woman {
  width: 20%;
}

.woman_list {
  list-style-type: none;
  padding: 0;
}

.woman_item {
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 166.19%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  cursor: pointer;
  margin-bottom: 18px;
}

.woman_item:hover {
  color: #da1f39;
  font-weight: 700;
}

.catalogue_image {
  width: 20%;
  margin-top: 36px;
}

.catalogue-content {
  display: flex;
  width: 100%;
}

/* subheader */

.subheader {
  display: flex;
  align-items: center;
}
.subheader__item {
  font-family: "Raleway-Bold";
  font-size: 12px;
  line-height: 166.4%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  text-decoration: none;
}

.subheader__item:last-of-type {
  color: rgba(0, 0, 0, 1);
  font-family: "Raleway-Light";
}

.subheader__division-line {
  width: 25px;
  height: 0.7px;
  background-color: black;
  margin: 0 5px;
}

/*filters*/
.filters {
  flex: 1;
  min-width: 200px;
  font-size: 12px;
  padding-top: 41px;
  /* padding-left: 82px; */
}

.filters-title {
  font-weight: 600;
  margin-top: 15px;
}

summary:after {
  content: url(images/Vector\ 12.png);
  padding-left: 10px;
}

details[open] summary:after {
  content: url(images/Vector\ 11.png);
  padding-left: 10px;
}
summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
  cursor: pointer;
}

.filters-subitle {
  font-weight: 300;
  color: #565656;
}

.filters-title__item {
  padding-top: 10px;
}

/*products*/

.products {
  flex: 3.8;
  padding: 20px 0 7% 20px;
}

.products-header {
  width: 100%;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
}
.filters-mini {
  background-color: white;
  max-width: 349px;
  position: absolute;
  font-size: 14px;
  display: none;
  top: 59px;
}

.filters-title__mini {
  font-size: 12px;
}

.filters-item__grid {
  display: grid;
  grid-template-columns: 140px 175px;
  box-shadow: 5px 5px 5px #878787;
}
.products-sorting {
  display: flex;
  align-items: center;
  font-family: "Raleway-Light";
}

.products-sorting__grid-icons {
  display: flex;
}

.product-grid__icon {
  width: 14px;
  height: 14px;
  display: grid;
  margin-right: 10px;
  cursor: pointer;
}

.product-grid__icon_small {
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.product-grid__icon_small div {
  background-color: rgba(86, 86, 86, 1);
}

.product-grid__icon_large {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
}

.product-grid__icon_large div {
  background-color: rgba(196, 196, 196, 1);
}

.products-sorting__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.products-sorting__label {
  margin-left: 3px;
}

.products-sorting__selector {
  border: none;
  background-color: inherit;
}

.products-title {
  margin: 0;
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 140.3%;
  text-transform: uppercase;
  color: #000000;
  justify-self: end;
  padding-bottom: 20px;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}

.product-list__image {
  width: 100%;
}

.product-list__card {
  padding-bottom: 50px;
}

.product-list__text {
  font-weight: 300;
  font-size: 14px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.product-list__description {
  font-family: "Raleway-Light";
  margin-top: 10px;
  line-height: 23px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-list__price {
  font-size: 14px;
  font-weight: 700;
  padding-top: 5px;
  font-family: "Raleway-Bold";
}

.products-pagination {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.products-pagination__show-more {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.products-pagination__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 7px;
}

.products-pagination__pages {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding-left: 30px;
  font-family: "Raleway-Bold";
}

.products-pagination__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 166.2%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-right: 10px;
  text-decoration: none;
}

.products-pagination__pages a:hover {
  color: #b0b0b0;
}

.products-pagination__link_selected {
  color: #b0b0b0;
}

.products-pagination__link_next-page {
  margin-right: 0;
}

.products__scroll-arrow {
  display: flex;
  justify-content: center;
}

.products__scroll-image {
  position: relative;
  top: 19px;
  width: 30px;
  height: 56.5px;
}

/*footer*/

.footer {
  height: 354px;
  background: url(../image/Rectangle86.png) no-repeat 100% 100%;
  background: #f4f4f4;
  padding: 70px 80px;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  font-family: "Raleway-Light";
}

.footer-container__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  text-decoration: none;
  color: black;
}

.footer-contacts__address {
  font-style: normal;
}

.footer-container,
.footer-container__nav {
  display: flex;
}

.footer-container__nav,
.footer-social,
.footer-contacts {
  flex-basis: auto;
}

.footer-contacts {
  margin-left: 315px;
}

.footer-social {
  margin-left: 178px;
}

.footer__logo {
  text-align: center;
  margin-bottom: 40px;
}

.footer-container__nav {
  gap: 50px;
}

.footer__image {
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 65px;
}

.footer-social__text,
.footer-contacts__text {
  text-decoration: underline;
}

.footer-contacts__tel,
.footer-contacts__address,
.footer-contacts__time {
  margin-top: 10px;
  font-feature-settings: "pnum";
  font-feature-settings: "lnum";
}

.footer__copyright {
  font-feature-settings: "pnum";
  font-feature-settings: "lnum";
}

.footer__data {
  margin-right: 20px;
}

.footer-container__item {
  margin-bottom: 10px;
}

.footer-container__item:last-child a {
  font-weight: 700;
  color: #da1f39;
  font-family: "Raleway-Bold";
}

.footer-container__item:last-child {
  margin-top: 40px;
}

.footer-contacts-mobile {
  display: none;
}

.footer__copyright-mobile {
  display: none;
}
@media screen and (min-width: 1367px) {
  .footer-container {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 1363px) {
  .footer-contacts,
  .footer-social,
  .footer-container__nav {
    margin: 0 auto;
  }
}
@media (max-width: 1130px) {
  .nav_item_link {
    padding-right: 0;
  }

  .header__navigation {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1050px) {
  .nav_item_link {
    margin-right: 1vw;
  }

  .item_currency {
    margin-left: 2vw;
  }

  .item_number {
    margin-left: 2vw;
  }

  .item_cart {
    margin-left: 1vw;
  }

  .item_search {
    margin-left: 1vw;
  }

  .catalog__dropdown {
    padding-left: 2vw;
  }
}

@media screen and (max-width: 950px) {
  .header__navigation {
    width: 33%;
  }

  .header__logo {
    width: 30%;
  }

  .header__menu {
    width: 37%;
  }

  .catalogue_image {
    display: none;
  }

  .catalogue__navigation {
    width: 25%;
  }

  .catalogue_woman {
    width: 25%;
  }

  .icon_arrow {
    display: none;
  }
  .footer {
    padding: 30px 10px;
  }
}
@media (max-width: 850px) {
  .products-header {
    grid-template-columns: 1fr;
  }

  .products-sorting {
    order: 2;
    justify-content: space-between;
  }

  .products-sorting__grid-icons {
    display: none;
  }
  .products-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  .item_currency {
    display: none;
  }

  .item_number {
    display: none;
  }

  .item_language {
    display: none;
  }

  .menu_list {
    padding-left: 8vw;
  }

  .header__navigation {
    width: 40%;
  }

  .header__logo {
    width: 35%;
  }

  .header__menu {
    width: 25%;
  }
}
@media screen and (max-width: 792px) {
  .menu_list {
    padding-left: 3vw;
  }

  .item_hover {
    font-size: 14px;
  }

  .header_nav_item {
    font-size: 14px;
  }

  .catalogue_item {
    font-size: 16px;
  }

  .woman_item {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .products {
    padding: 10px 10px 50px 10px;
  }

  .products-header {
    padding: 20px 0;
  }

  .product-list__text {
    font-size: 12px;
  }

  .product-list__card {
    padding-bottom: 20px;
  }

  .products-pagination {
    padding-top: 30px;
  }

  .products-pagination__pages {
    display: none;
  }

  .products-pagination__show-more {
    justify-content: center;
  }
  .footer-container__nav,
  .footer-social,
  .footer-contacts {
    flex-basis: 30%;
  }

  .footer-social,
  .footer-contacts {
    text-align: center;
  }

  .footer {
    padding: 50px 20px;
    height: auto;
  }

  .footer-container__nav {
    gap: 25px;
  }

  .footer__data {
    display: block;
  }

  .footer__image {
    margin-right: 8px;
  }
}
@media screen and (max-width: 735px) {
  .footer {
    padding: 30px 8px;
  }

  .footer-container__nav {
    gap: 12px;
  }

  .footer-container,
  .footer-container__nav {
    flex-wrap: wrap;
  }

  .footer-social__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 675px) {
  .header {
    height: 33px;
  }

  .nav_item_link {
    display: none;
  }

  .header_button {
    display: contents;
  }

  .button_mobile {
    border: none;
    background-color: inherit;
    margin-top: 6px;
    padding: 0;
    cursor: pointer;
  }

  .button_mobile:active {
    box-shadow: 1px 4px 5px #bdbdbd;
  }

  .header__navigation {
    width: 25%;
    margin: 0;
    justify-content: flex-start;
  }

  .header__logo {
    width: 50%;
  }

  .header__menu {
    width: 25%;
  }

  .subheader {
    display: none;
  }
}
@media (max-width: 600px) {
  .catalogue-container {
    padding: 10px;
  }

  .products {
    padding-right: 0;
    padding-left: 0;
  }
  .filters {
    display: none;
  }
  .filters-mini {
    display: inline;
  }

  .products-header {
    padding: 10px 0;
  }

  .products-sorting__form {
    float: right;
  }

  .products-sorting {
    display: inline-block;
  }

  .products__scroll-image {
    width: 16px;
    height: 30px;
  }
}
@media screen and (max-width: 513px) and (min-width: 376px) {
  .footer-container {
    display: block;
  }

  .footer-container__nav {
    justify-content: space-around;
  }

  .footer-contacts,
  .footer-social {
    margin-top: 40px;
  }

  .footer-contacts__text,
  .footer-social__text {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding-left: 10px;
    padding-top: 8px;
  }

  .logo_img {
    width: 95px;
    height: 25px;
  }

  .search_img {
    width: 21px;
    height: 21px;
  }

  .cart_img {
    width: 21px;
    height: 21px;
  }

  .header_button {
    margin: 0;
    margin-top: 5px;
  }
  .footer-contacts,
  .footer__copyright {
    display: none;
  }

  .footer-container__nav,
  .footer-social {
    flex-basis: auto;
  }

  .footer {
    padding: 20px 10px;
  }

  .footer-social {
    margin-left: 15px;
    width: 35%;
  }

  .footer-container__nav {
    gap: 30px;
  }

  .footer__image {
    margin-right: 15px;
    margin-top: 7px;
    margin-bottom: 0px;
  }

  .footer-container__item:last-child {
    margin-top: 20px;
  }

  .footer-contacts-mobile {
    display: block;
    padding-top: 10px;
  }

  .footer__data {
    display: inline;
  }

  .footer__copyright-mobile {
    display: block;
  }

  .footer__copyright-mobile {
    font-feature-settings: "pnum";
    font-feature-settings: "lnum";
    margin-top: 20px;
  }

  .footer-social__images {
    justify-content: flex-start;
  }
}
